.btn_s {
    background-color: #000000;
    color: white;
    padding: 1.2em;
    text-decoration: none;
    transition: .5s;
    cursor: pointer;
    border-radius: 50px;
    margin-top: 1em;
    margin-left: 20%;
    font-size: 16px;
    
}

.btn_s:hover {
    background-color: rgb(243, 158, 0);
}