@font-face {
    font-family: caviar;
   src: url('../../fonte/caviar_dreams/CaviarDreams.ttf');
}

.container_estoque{
    background: linear-gradient( #000925,#04296d);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 753px;
    padding-top: 100px;
}
.container_estoque h1{
    color: aliceblue;
    margin: 20px;
}
.container_estoque table {
    background-color: rgb(255, 255, 255);
    border-radius: 0px 0px 5px 5px;
    box-shadow: rgba(0, 0, 0, 0.274) 0px 7px 7px;
    padding: 20px;
    width: 1300px;
    margin: 20px;
    margin-top: 0;
    margin-bottom: 90px;
    
}
.container_estoque thead {
    background-color: rgb(224, 224, 224);
    height: 3em;
    border-color: blue;
    
}
.container_estoque tbody {
    
    text-align: center;
    height: 3em;
}
.container_estoque tbody tr {
    height: 3em;
}

.container_estoque table button:hover {
    color: #FFC65E;

}
.busca {
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    width: 1300px;
    gap: 2.1em;
    margin-top: 30px;
}
.busca input {
    margin-top: 15px;
}
.busca button {
    background-color: #FFC65E;
    padding: 7px;
    width: 80px;
}
.busca button:hover {
    color: black;
}
.busca a {
    background-color: #8d8d8d;
    color: white;
    text-decoration: none;
    margin-left: 510px;
    margin-top: 20px;
    padding: 8px;
    border-radius: 2px;
    transition: 0.5s;
}
.busca a:hover {
    background-color: rgb(14, 107, 53);
}

.container_estoque tbody img {
    width: 20px;
    cursor: pointer;
}

VscTrash {
    height: 50px;
}
.form-vendas {
    background-color: #001233de;
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    left: 0%;
}
.form-vendas form {
    background-color: white;
    padding: 50px;
    border-radius: 5px;
}
.form-vendas input {
    padding: 15px;
    border: 1px solid rgb(226, 226, 226);
    border-radius: 50px;
    outline-color: rgba(0, 153, 255, 0.233);
}
.form-vendas button {
    margin-left: 37%;
    padding: 10px;
    width: 120px;
    border-radius: 50px;
}
.form-vendas label {
    font-family: caviar,sans-serif;
    color: #ffbe46;
    font-size: 20px;
}