.container_listaCliente{
    background: linear-gradient( #000925,#04296d);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 753px;
    padding-top: 100px;
}
.container_listaCliente h1 {
    color: aliceblue;
    margin: 20px;
}
.container_listaCliente table {
    background-color: rgb(255, 255, 255);
    border-radius: 0px 0px 5px 5px;
    box-shadow: rgba(0, 0, 0, 0.315) 0px 7px 7px;
    padding: 20px;
    width: 1100px;
    margin: 20px;
    margin-top: 0;
    margin-bottom: 50px;
}
.container_listaCliente thead {
    background-color: rgb(224, 224, 224);
    height: 3em;
    
}
.container_listaCliente tbody {
    text-align: center;
    height: 3em;
    
}
.container_listaCliente tbody tr {
    height: 3em;
    
}
.container_listaCliente tbody a {
    color: #ffffff;
    background-color: #001F3F;
    border-radius: 2px;
}

.busca {
    background-color: rgb(255, 255, 255);
    border-radius: 5px 5px 0px 0px;
    display: flex;
    max-width: 1100px;
    margin-top: 30px;
}
.busca input {
    margin-top: 15px;
    outline: none;
}
.busca button {
    background-color: #FFC65E;
    color: white;
    padding: 7px;
    width: 80px;
    border: none;
    margin-left: 30px;
    margin-top: 10px;
    border-radius: 2px;
    cursor: pointer;
}
.busca button:hover {
    color: black;
}

